body {
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
}

.container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.col {
    background-color: white;
    height: 100vh;
    max-width: 230px;
    margin: 0;
    padding: 0;
}

.col-10 {
    background-color: white;
    height: 100vh;
    overflow: hidden;

}

/* ======================================= TOP BANNER ======================================= */


.top-banner {
    background-image: url(./header4.png);
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    opacity: 0.8;
}

/* ======================================= NAVBAR ======================================= */

.navbar-container {
    display: flex;
}

.navbar {
    width: 100vw;
    height: 6vh;
    background-color: rgba(61, 84, 112, 0.8);
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.ourlogo {
    transform:
        scale(0.7) translate(-110px, -50px);

}

/* ======================================= Profile-bar ======================================= */


.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.left-sidebar {
    flex-grow: 2;
    max-width: 230px;
    padding: 10px;
    position: absolute;
    transition: all 0.5s;
    box-shadow: 2px 0px 3px gray;
    background-color: rgba(61, 84, 112, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.318);
    height: 100vh;
}

.left-profile-bar {
    height: 100vh;
}

.inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.user-profile {
    flex-grow: 2;
    max-height: 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
    border: white;
    position: relative;
    color: white;
}

.user-profile {
    border-bottom: 1px solid white;
    max-height: 200px;
}

.user-image {
    margin: 50px 0 25px 0;
    border-color: #1a233d;
    transition: all 0.5s;
}

.user-image>.image-src>img {
    width: 150px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.1);
    transition: all 0.5s;
}

.user-image {
    margin: 25px 0;
}

.user-info {
    height: 0px;
    transition-delay: 0s;
    animation: animate-sidebar-text 0.5s;
}

.toggle-button {
    position: absolute;
    top: 50%;
    left: 100%;
    border: 1px solid #1a233d;
    width: 20px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border-radius: 0 50% 50% 0;
    cursor: pointer;
    transform: translate(0, -50%);
    box-shadow: 2px 0px 5px gray;
    background: rgba(61, 84, 112, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.318);
    color: white;
    z-index: 1;
}

.new-toggle-button {
    position: absolute;
    top: 50%;
    left: 100%;
    border: 1px solid #1a233d;
    width: 20px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border-radius: 0 50% 50% 0;
    cursor: pointer;
    transform: translate(0, -50%);
    box-shadow: 2px 0px 5px gray;
    background: rgba(61, 84, 112, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.318);
    color: white;
    z-index: 1;
}

.new-toggle-button>i {
    transform: rotate(180deg);
}

.toggle-button i::before {
    transform: rotate(180deg);
}

.bar-function {

    color: snow;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.bar-function>div {
    margin-top: 30px;
    cursor: pointer;
}

.bar-function>a {
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.bar-function>div:hover {
    background-color: gray;
}

.bar-function>a:hover {
    background-color: gray;
}

.fa-solid {
    font-size: 30px;
}

.fa-location-dot {
    font-size: 15px;
}

.fa-signature {
    font-size: 15px;
}