body {
    user-select: none;
    box-sizing: border-box;
    background-color: #f7f6f6;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;

}


.container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
    padding: 0;
    /* width: 100vw; */
}

.col {
    background-color: #f7f6f6;
    height: 100vh;
    max-width: 230px;
    margin: 0;
    padding: 0;
}

.col-10 {
    background-color: #f7f6f6;
    height: 100vh;
    /* overflow: hidden; */

}

/* ======================================= TOP BANNER ======================================= */


.top-banner {
    /* background-image: url(../assets/site-images/header4.png);
    background-size: cover;
    background-attachment: scroll; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    opacity: 0.8;
    width: 100vw;
    background-color: white;

}

.banner-logo>img {
    transform: scale(0.8) translate(-150px, -160px);
}



/* ======================================= NAVBAR ======================================= */

.navbar-container {
    display: flex;
    width: 100vw;
}

.navbar {
    width: 100vw;
    height: 4vh;
    background-color: rgba(255, 111, 33);
    /* background-color: rgba(61, 84, 112, 0.8); */
    /* background-color: #C6DB9F; */
    /* background-color: #E45C54; */
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.ourlogo {
    transform:
        scale(0.7) translate(-110px, -50px);

}

.menu-btn {
    cursor: pointer;
    color: white;
}

/* ======================================= Profile-bar ======================================= */


.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.left-sidebar {
    display: block;
    flex-grow: 2;
    max-width: 200px;
    padding: 10px;
    position: absolute;
    transition: all 0.5s;
    box-shadow: 2px 0px 3px gray;
    /* background-color: rgba(61, 84, 112, 0.8); */
    background-color: rgba(255, 111, 33);
    /* background-color: #E45C54; */
    border: 1px solid rgba(255, 255, 255, 0.318);
    height: 100vh;
    z-index: 20;
}

.left-profile-bar {
    /* max-width: 230px; */
    height: 100vh;
}

.inner {
    display: flex;
    flex-direction: column;

    height: 100%;
}

.user-profile {
    flex-grow: 2;
    max-height: 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
    border: white;
    position: relative;
    color: white;
}

.user-profile {
    border-bottom: 1px solid white;
    max-height: 200px;
}

.user-image {
    margin: 50px 0 25px 0;
    border-color: #1a233d;
    transition: all 0.5s;
}

.user-image>.image-src>img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.1);
    transition: all 0.5s;
}

.user-image {
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* .user-image>img {
    width: 75px;
} */

.form-submit-btn {
    margin-top: 15px;
    width: 100px;
    background-color: rgba(255, 111, 33);
    border: 5px solid rgba(255, 111, 33);
    border-radius: 10px;
    cursor: pointer;
    color: white;
    text-align: center;
    margin-left: 15px;
    transform: translateY(-50px);
}

.choose-photo-btn {
    margin-top: 15px;
    width: 100px;
    background-color: rgba(255, 111, 33);
    border: 5px solid rgba(255, 111, 33);
    border-radius: 10px;
    cursor: pointer;
    color: white;
    text-align: center;
    margin-left: 15px;
    opacity: 0;
}

.upload-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#choose-photo-btn-label {
    margin-top: 15px;
    width: 100px;
    background-color: rgba(255, 111, 33);
    border: 5px solid rgba(255, 111, 33);
    border-radius: 10px;
    cursor: pointer;
    color: white;
    text-align: center;
    margin-left: 15px;
    transform: translateY(-50px);
}


.user-info {
    height: 0px;
    transition-delay: 0s;
    animation: animate-sidebar-text 0.5s;
}

.bar-function {

    color: snow;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.bar-function>div {
    margin-top: 30px;
    cursor: pointer;
}

.bar-function>a {
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.bar-function>div:hover {
    transform: translateY(-5px) scale(1.1) translateZ(0);
    cursor: pointer;
    transition-duration: 0.4s;
}

.bar-function>a:hover {
    transform: translateY(-5px) scale(1.1) translateZ(0);
    cursor: pointer;
    transition-duration: 0.4s;
}

.fa-solid {
    font-size: 25px;
}

.fa-location-dot {
    font-size: 15px;
}

.fa-signature {
    font-size: 15px;
}

.edit-btn {
    font-size: 12px;
    cursor: pointer;
}

.close-btn {
    font-size: 12px;
    cursor: pointer;
    color: white;
}

.fa-pen-to-square {
    font-size: 12px;
}

.fa-xmark {
    font-size: 12px;
    cursor: pointer;
    text-align: end;
}

.edit-profile-pic-btn {
    color: white;
}

.edit-profile-pic-btn:hover {
    transform: translateY(-5px) scale(1.1) translateZ(0);
    cursor: pointer;
    transition-duration: 0.4s;
}

/* ======================================= Circular-progress-bar ======================================= */


.right-container {
    width: 300px;
    height: 350px;
    border: solid 2px rgba(255, 111, 33);
    border-radius: 7px;
    margin-top: 60px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    color: rgba(255, 111, 33);
}

.circular-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: rgba(255, 111, 33);
}


.circular-progress {
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.circular-progress:before {
    content: "";
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: #4d5b79;
    border-radius: 50%;
}

.value-container {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: cornflowerblue;
}

.cuisine-result {
    margin-top: 15px;
    text-align: center;

}

.foodCat {
    font-size: 80px;
}

/* ======================================= Profile ======================================= */


.basic-profile-container {
    height: auto;
    background-color: #f7f6f6;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
    border-bottom: solid 1px gray;
    /* can delete */
    /* width: 100vw; */
    color: rgba(255, 111, 33);
}

.profile-content {
    margin-top: 15px;
    text-align: center;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
}


/* ======================================= Album ======================================= */
.album-container {
    margin-top: 30px;
}

.choose-photo-btn {
    /* background-image: url(../assets/site-images/icon_upload.png); */
}

.form-submit-btn {
    transition-duration: 0.4s;
}

.form-btn:hover {
    scale: 1.1;
}


.inner>a>img {
    width: 300px;
    height: 300px;
    border-radius: 7px;
}

.glightbox :hover {
    background-color: none;
}

.glightbox {
    position: relative;
}

.fa-circle-xmark {
    color: rgba(61, 84, 112, 0.8);
    font-size: 22px;
}

.gallery-title {
    margin-top: 20px;
    margin-left: 35px;
    color: rgba(255, 111, 33);
    font-size: 25px;
    text-align: center;
}

/* ======================================= Gallery ======================================= */

.gallery-Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
}

.photo {
    margin: 10px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    /* padding: 20px 20px; */
}

.photo-conatiner {
    position: relative;
}

.delete-btn {
    position: absolute;
    right: 2px;
    top: 0px;
    background-color: rgba(255, 111, 33);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    /* display: none; */
}

.delete-btn:hover {
    display: block;
    position: absolute;
    right: 2px;
    top: 0px;
    background-color: rgba(255, 111, 33);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}